/*Файл со стилями для админ-панели*/

//Контекстное меню
.admin-context-menu{
  overflow: hidden;
  position: absolute;
  width: 0;
  opacity: 0;
  height:90px;
  background-color: red;
  z-index: 3;
  button{
    height: 50%;
    color:white;
  }
  #context-update-btn{
    background-color: $primary-blue-col;
  }
  #context-delete-btn{
    background-color: $primary-red-col;
  }
}
.admin-context-menu-active{
  width: 200px;
  opacity: 1;
  transition: all 0.3s ease-out;
}
//Меню админки
.admin-toggler{
  width: 70px;
  height: 70px;
  position: fixed;
  background-color: $primary-col;
  img{
    width: 100%;
  }
}
.admin-modal{
  background-color: $primary-col;
  width: 0px;
  height: 100vh;
  position: absolute;
  z-index: 2;
  overflow: hidden;
  header{
    color:white;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    border-bottom: 2px solid white;
    button{
      border: none;
      background-color: unset;
      font-size: 2em;
      color: white;
    }
  }
  nav{
    margin:20px 0;
    align-items: center;
    font-size: 1.1em;
    a{
      margin:14px 0;
      color:white;
    }
  }
}
.admin-modal-active{
  width: 300px;
  opacity: 1;
  transition: all 0.4s ease-out;
}

//Обёртка для админ-панели
.admin-wrapper{
  height: 100vh;
  overflow: hidden;
  //Все секции
  section{
    height: 0;
    overflow: hidden;
    padding: 0;
    >.section-part{
      align-items: center;
      height: 100vh;
      >.col{
        min-height: 100vh;
        width: 100%;
        align-items: center;
        overflow: scroll;
        form{
          @include form();
        }
        .all-records{
          flex-wrap: wrap;
          justify-content: space-evenly;
          .card{
            @include card();
            @include volumeShadow(lightgrey);
          }
        }
      }
    }
    .first-part{
      width: 40%;
    }
    .second-part{
      width: 60%;
    }


  }
  .section-active{
    height: 100%;
    opacity: 1;
    transition: 0.4s ease-out;
  }
  //Секция пользователей
  #admin-users{
    .user-settings{
      justify-content: center;
      margin:24px 0;
      padding: 7px;
      .user-settings-top{
        margin:10px 0;
        >.col{
          width: 50%;
          justify-content: center;
          align-items: center;
          img{
            width: 80%;
          }
        }

      }
      .user-settings-control{
        margin: 10px 0;
        justify-content: center;
        form{
          max-width: 100%;
          height: 80px;
          .form-controls{
            .col{
              padding: 14px;
            }
            button{
              margin-left: 14px;
            }
          }
        }
        .warning{
          font-size: 2em;
          font-weight: bold;
          color:red;
          margin-bottom: 14px;
        }
      }
      .user-settings-products{
        margin: 14px 0;
        width: 100%;
        height: 400px;
        overflow: hidden;
        >.col{
          overflow: scroll;
          .top-product{
            @include card();
          }
        }
      }

      .user-settings-reviews{
        margin: 14px 0;
        width: 100%;
        height: 400px;
        overflow: hidden;
        >.col{
          overflow: scroll;
          .user-settings-review{
            border-bottom: 2px solid $primary-col;
            margin:10px 0;
            height: 100px;
            p{
              overflow: hidden;
            }
            span{
              font-size: 0.7em;
            }
          }
        }
      }
    }
  }
  #admin-works{
    .work-settings{
      >span{
        font-weight: bold;
      }
      .row,p, .col{
        margin: 10px 0;
      }
      .row{

        align-items: center;
        justify-content: space-evenly;
        height: 200px;
        img{
          height: 100%;
          margin-right: 10px;
        }
        form{
          height: 210px;
        }
      }
    }
  }
}