@mixin card(){
  width: 350px;
  height: 170px;
  background-color: rgba(252, 237, 237, 0.8);
  margin: 14px;
  .card-img{
    align-items: center;
    justify-content: center;
    background-color: $light-gray-col;
    width: 40%;
    img{
      max-height: 80%;
      max-width: 100%;
    }
  }
  .card-text{
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    .row{
      justify-content: center;
      align-items: center;
      .card-link{ //TODO миксины!
        background-color: red;
        color: white;
        padding: 8px 12px;
        margin-right: 15px;

      }
      .card-price{
        color:red;
        font-weight:bold;
      }
      .card-icon{
        width: 70px;
        height: 70px;
      }
    }
  }
}

@mixin form(){
  max-width: 400px;
  width: 100%;
  border:2px solid $primary-col;
  border-radius: 25px;
  justify-content: space-evenly;
  align-items: center;
  padding: 14px;
  background-color: $accent-white-col;
  fieldset{
    border:none;
    margin:8px 0;
    width: 100%;
  }
  legend,label{
    font-weight: bold;
    margin: 4px;
  }
  input,textarea,select{
    padding: 4px;
    font-size: 1em;
    font-family: PoiretOne,'sans-serif';
    font-weight: bold;
    margin:4px 0;
    background-color: #EDF0F5;
    width: 360px;
  }
  .form-controls{
    justify-content: space-between;
    margin: 10px 0;
    width: 100%;
    button{
      font-weight: bold;
      font-size: 1.05em;
      padding: 10px;
      width: 100px;
      border:none;
    }
  }
}

@mixin teammateCard(){
  box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.5);
  width: 250px;
  border-radius: 20px;
  background-color: white;
  height: 420px;
  overflow: hidden;
  .teammate-top{
    height: 130px;
    background-color: red;
    align-items: center;
    //padding: 10px 0;
    h3{
      padding: 7px;
      color:white;
      text-align: center;
    }
  }
  .teammate-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    z-index: 2;
    position: relative;
    align-self: center;
    top: -65px;
    object-fit: contain;
    background-color: grey;
  }
  .teammate-text{
    margin-top: -50px;
    padding: 7px;
    text-align: center;
    p{
      height: 110px;
    }
    .teammate-icon{
      width: 70px;
      height: 70px;
      align-self: center;
    }
  }
}