<footer class="footer row">
    <div class="footer-container row">
        <div class="col">
            <span>performed by AR-OPTIMA</span>
            <span>from Russia with love</span>
        </div>
        <div class="col contacts">
            <span>8-800-555-35-35</span>
            <span>ar.optima@mail.ru</span>
        </div>
    </div>
</footer>