<header class="header-light row">
    <div class="col logo-container">
        <div class="logo row">
            <img src="/img/icons/logo.png" alt="Логотип">
            <a class="col" href="/">AR-OPTIMA</a>
        </div>
    </div>
    {{>modalToggler}}
</header>