<header class="header-light row">
    <div class="col logo-container">
        <div class="logo row">
            <img src="/img/icons/logo.png" alt="Логотип">
            <div class="col">
                <a class="col" href="/">AR-OPTIMA</a>
                <span>Technology is everywhere</span>
            </div>

        </div>
    </div>
    {{>modalToggler}}
</header>