<div class="modal-menu col">
    <header class="row">
        <img src="/img/icons/close-btn.png" alt="">
    </header>
    <nav class="col">
        <a href="/#our-team">#Наши орлы</a>
        <a href="/teammates">Вся команда</a>
        <a href="/#top">#Аукцион</a>
        <a href="/products">Все товары</a>
        <a href="/#demo-example">#Демо-пример</a>
        <a href="/#personal-model">#Услуги</a>
        {{#if isAuthorized}}
        <a href="personal/exit">Выйти</a>
        {{/if}}
    </nav>
</div>