<div class="modal-menu col">
    <header class="row">
        <div class="col">
            {{#if isAuthorized}}
                <a href="#" class="col">
                    <img class="user-avatar" src="/img/uploads/{{authUserAvatar}}" alt="">
                    <span>{{authUserLogin}}</span>
                </a>
            {{else}}
                <a href="/auth" class="col">
                    <img class="user-avatar" src="/img/icons/login.png" alt="">
                    <span>Авторизация</span>
                </a>
            {{/if}}
        </div>
        <div class="col">
            <img src="/img/icons/close-btn.png" alt="">
        </div>
    </header>
    <form action="" class="search-form row">
        <input placeholder="Введите запрос.." type="text">
        <button>ОК</button>
    </form>
    <nav class="col">
        <a href="/#our-team">#Наши орлы</a>
        <a href="/teammates">Вся команда</a>
        <a href="/#top">#Аукцион</a>
        <a href="/products">Все товары</a>
        <a href="/#demo-example">#Демо-пример</a>
        <a href="/#personal-model">#Услуги</a>
        {{#if isAuthorized}}
        <a href="user/exit">Выйти</a>
        {{/if}}
    </nav>
</div>