<div class="modal-menu col">
    <header class="row">
        <div class="col">
            <img class="user-avatar" src="/img/icons/login.png" alt="">
            <a href="">Авторизация</a>
        </div>
        <div class="col">
            <img src="/img/icons/close-btn.png" alt="">
        </div>
    </header>
    <form action="" class="search-form row">
        <input placeholder="Введите запрос.." type="text">
        <button>ОК</button>
    </form>
    <nav class="col">
        <a href="#our-team">Наша команда</a>
        <a href="#top">Аукцион</a>
        <a href="#demo-example">Демо-пример</a>
        <a href="#personal-model">Авторизация</a>
    </nav>
</div>