<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Авторизация</title>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/script.js"></script>
    <script defer src="/js/auth-form.js"></script>
</head>
<body>
    {{>modalMenu}}
    <div class="wrapper wrapper-main">
        {{>headerLight}}
        <main class="main col">
            <div class="auth-control row">
                <button id="reg-btn-show" data-target="register-form-container">Регистрация</button>
                <button id="auth-btn-show" data-target="login-form-container">Авторизация</button>
            </div>
            <div class="auth-forms-container row">
                <div id="auth-register" class="form-container row register-form-container form-container-active">
                    <form class="register-form col" action="auth/register" method="post" enctype="multipart/form-data">
                        <header class="col">
                            <h3>Регистрация:</h3>
                            {{#if regError}}
                                <div class="auth-error">{{regError}}</div>
                            {{/if}}
                        </header>
                        <label for="reg-login-input">Логин:</label>
                        <input type="text" id="reg-login-input" name="regLogin">
                        <label for="reg-email-input">Email:</label>
                        <input type="email" id="reg-email-input" name="regEmail">
                        <label for="reg-password-input">Пароль:</label>
                        <input type="password" id="reg-password-input" name="regPassword">
                        <label for="reg-password-confirm-input">Повторите пароль:</label>
                        <input type="password" id="reg-password-confirm-input" name="regPasswordConfirm">
                        <label for="reg-image-input">Аватар:</label>
                        <input type="file" id="reg-image-input" name="regAvatar">
                        <div class="row form-controls">
                            <button class="btn-pos" type="submit">ОК</button>
                            <button class="btn-neg" type="reset">Стереть</button>
                        </div>
                    </form>
                </div>
                <div id="auth-login" class="form-container row login-form-container">
                    <form class="login-form col" action="auth/login" method="post">
                        <header class="col">
                            <h3>Авторизация:</h3>
                            {{#if authError}}
                            <div class="auth-error">{{authError}}</div>
                            {{/if}}
                        </header>
                        <label for="log-login-input">Логин:</label>
                        <input type="text" id="log-login-input" name="logLogin">
                        <label for="log-password-input">Пароль:</label>
                        <input type="password" id="log-password-input" name="logPassword">
                        <div class="row form-controls">
                            <button class="btn-pos" type="submit">ОК</button>
                            <button class="btn-neg" type="reset">Стереть</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        {{>footer}}
    </div>

</body>
</html>