<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>AR-OPTIMA</title>
    <link rel="stylesheet" href="../css/style.css">
    <script defer src="../js/homepage.js"></script>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="col logo-container">
                <div class="logo row">
                    <a href="#">AR-OPTIMA</a>
                </div>
                <div class="banner">
                    <span class="highlighted-text">ДОПОЛНЕННАЯ</span> РЕАЛЬНОСТЬ В ТВОЁМ ДОМЕ
                </div>
            </div>
            <div class="col info-container">
                <div id="what-is-it" class="col info-part info-part-active">
                    <video preload="auto" autoplay loop="true" muted="muted">
                        <source src="../media/vrandar.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                    </video>
                    <p><strong>Дополненная реальность</strong> – одна из многих технологий взаимодействия человека и компьютера. Ее специфика заключается в том, что она программным образом визуально совмещает два изначально независимых пространства: мир реальных объектов вокруг нас и виртуальный мир, воссозданный на компьютере.</p>
                </div>
                <div id="who-we-are" class="col info-part">
                    <h2>Кто мы такие?</h2>
                    <p>Мы молодая и активная команда разработчиков и дизайнеров, занимающихся дополненной реалььностью. Мы уверены, что в этой технологии заложен огромный потенциал.</p>
                    <p>Наша цель сделать дополненную реальность доступнее.</p>
                    <h3>Но где я могу это использовать?</h3>
<!--                    <div class="row advantages">-->
<!--                        <div class="advantage col">-->
<!--                            -->
<!--                        </div>-->
<!--                    </div>-->
                </div>
                <div id="why-its-cool" class="col info-part">
                    <h2>Почему это круто?</h2>
                    <h3>Что такое NFT?</h3>
                    <p>Токены представляют собой запись в регистре внутри этой блокчейн-цепочки. Отличительной чертой большинства токенов является принцип взаимозаменяемости. Его можно сравнить с валютой (в том числе криптовалютой): один доллар, один рубль или один биткоин можно с легкостью заменить одним долларом, одним рублем или одним биткоином, принадлежащим другим пользователем.
                        Однако очевидно, что не все цифровые активы являются взаимозаменяемыми. Картина Пабло Пикассо не тождественна произведению Клода Моне, а mp3-файл с песней The Beatles вряд ли можно заменить на запись концерта Эминема. Поэтому для того, чтобы перенести в блокчейн уникальные предметы, и был создан формат невзаимозаменяемых токенов.</p>
<!--                    <img src="img/nft-info.png" alt="">-->
<!--                    <p>ff</p>-->
                </div>
            </div>
            <div class="col info-nav-container">
                <nav class="col">
                    <a class="info-nav-link" data-target="what-is-it" href="#">Что это такое?</a>
                    <a class="info-nav-link" data-target="who-we-are" href="#">Кто мы такие?</a>
                    <a class="info-nav-link" data-target="why-its-cool" href="#">Почему это круто?</a>
                </nav>
            </div>
        </header>
        <section id="our-team" class="col">
            <h1>{{header}}</h1>
            <h2>Наша Команда</h2>
            <div class="team-container row">
                <div class="teammate col">
                    <div class="col teammate-top">
                        <h3>Генеральный директор</h3>

                    </div>
                    <img src="../img/team/anon.jpg" alt="" class="teammate-img">
                    <div class="col teammate-text">
                        <h4>Титов Александр</h4>
                        <p>Автор идеи и создатель проекта. Также является генеральный разработчиком. Вообщем отличный парень, а главное - скромный</p>
                        <img src="" alt="">
                    </div>
                </div>
                <div class="teammate col">
                    <div class="col teammate-top">
                        <h3>Дизайнер</h3>
                    </div>
                    <img src="../img/team/anon.jpg" alt="" class="teammate-img">
                    <div class="col teammate-text">
                        <h4>Артём Яскин</h4>
                        <p>Наш штатный дизайнер. Эксперт в создании 3d-моделей. Готов работать за еду и печеньки. За это мы его и любим.</p>
                        <img src="" alt="">
                    </div>
                </div>
                <div class="teammate col">
                    <div class="col teammate-top">
                        <h3>Мобильный разработчик</h3>
                    </div>
                    <img src="../img/team/anon.jpg" alt="" class="teammate-img">
                    <div class="col teammate-text">
                        <h4>Анонимный Анон</h4>
                        <p>На это месте можешь быть ты, просто свяжись с нами!</p>
                        <img src="" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section id="top" class="col">
            <h2>Топ</h2>
            <div class="top-container row">
                <div class="top-product row">
                    <div class="col top-product-img">
                        <img src="../img/products/first-prod.png" alt="">
                    </div>
                    <div class="col top-product-text">
                        <h3>Ваша надпись</h3>
                        <h4>Абсолютно любая надпись</h4>
                        <div class="row">
                            <a class="top-product-link link-to" href="#">Перейти</a>
                            <span class="top-product-price price">3000₽</span>
                        </div>
                    </div>
                </div>
                <div class="top-product row">
                    <div class="col top-product-img">
                        <img src="../img/products/gold-liom.png" alt="">
                    </div>
                    <div class="col top-product-text">
                        <h3>Золотой лев</h3>
                        <h4>Хоть что-то золотое дома</h4>
                        <div class="row">
                            <a class="top-product-link" href="#">Перейти</a>
                            <span class="top-product-price">6700₽</span>
                        </div>
                    </div>
                </div>
                <div class="top-product row">
                    <div class="col top-product-img">
                        <img src="../img/products/chair.png" alt="">
                    </div>
                    <div class="col top-product-text">
                        <h3>Деревянный стул</h3>
                        <h4>Почти как из IKEA</h4>
                        <div class="row">
                            <a class="top-product-link" href="#">Перейти</a>
                            <span class="top-product-price">12000₽</span>
                        </div>
                    </div>
                </div>
                <div class="top-product row">
                    <div class="col top-product-img">
                        <img src="../img/products/molekula.png" alt="">
                    </div>
                    <div class="col top-product-text">
                        <h3>Молекула</h3>
                        <h4>Ваш брат по разуму!</h4>
                        <div class="row">
                            <a class="top-product-link" href="#">Перейти</a>
                            <span class="top-product-price">8900₽</span>
                        </div>
                    </div>
                </div>
                <div class="top-product row">
                    <div class="col top-product-img">
                        <img src="../img/products/tajmahal.png" alt="">
                    </div>
                    <div class="col top-product-text">
                        <h3>Тадж Махал</h3>
                        <h4>Фанатам архитектуры</h4>
                        <div class="row">
                            <a class="top-product-link" href="#">Перейти</a>
                            <span class="top-product-price">24700₽</span>
                        </div>
                    </div>
                </div>
                <div class="top-product row">
                    <div class="col top-product-img">
                        <img src="../img/products/scorpio.png" alt="">
                    </div>
                    <div class="col top-product-text">
                        <h3>Кубоскорпион</h3>
                        <h4>Скорпион из кубиков</h4>
                        <span>Автор: <strong>Артёмий Лебедев</strong></span>
                        <div class="row">
                            <a class="top-product-link" href="#">Перейти</a>
                            <span class="top-product-price">333000₽</span>
                        </div>
                    </div>
                </div>
                <div class="top-product row">
                    <div class="col top-product-img">
                        <img src="../img/products/sonicgirl.png" alt="">
                    </div>
                    <div class="col top-product-text">
                        <h3>Эми Роуз</h3>
                        <h4>Розовая ежиха из Соника</h4>
                        <span>Автор: <strong>Эдвард Сноуден</strong></span>
                        <div class="row">
                            <a class="top-product-link" href="#">Перейти</a>
                            <span class="top-product-price">134000₽</span>
                        </div>
                    </div>
                </div>
                <div class="top-product row">
                    <div class="col top-product-img">
                        <img src="../img/products/house.png" alt="">
                    </div>
                    <div class="col top-product-text">
                        <h3>Дом</h3>
                        <h4>Просто дом</h4>
                        <div class="row">
                            <a class="top-product-link" href="#">Перейти</a>
                            <span class="top-product-price">3000₽</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="demo-example" class="col">
            <h2>Демо-пример</h2>
            <div class="demo-container col">
                <p>Простой откройте <a href="">эту страницу</a> и наведите камеру на это изображение</p>
                <div class="demo-container">
                    <img src="../img/demo-img.webp" alt="">
                </div>
            </div>
        </section>
        <section id="personal-model" class="col">

            <h2>Ваша собственная 3d-модель</h2>
            <p class="personal-model-text">Если вы занимаетесь 3d - дизайном или у вас уже есть nft-токены на какие-либо цифровые произведения, то мы поможем Вам создать вашу персоанльную дополненную реальность</p>
            <div class="personal-container row">
                <div class="personal-card col">
                    <img src="../img/personal/first-stage.png" alt="" class="personal-card-img">
                    <div class="personal-card-text">
                        <h3>У меня есть идея и ничего более</h3>
                        <p>Если у вас есть идея или видение произведения, то мы готовы помочь вам с её реализцией и получением nft-токена на вашу интеллекутальную собственность</p>
                        <div class="row">
                            <a href="#" class="personal-card-link link-to">Перейти</a>
                            <span class="personal-card-price price">от 20000₽</span>
                        </div>
                    </div>
                </div>
                <div class="personal-card col">
                    <img src="../img/personal/second-stage.png" alt="" class="personal-card-img">
                    <div class="personal-card-text">
                        <h3>У меня есть 3d-модель и ничего более</h3>
                        <p>Мы поможем вам получить nft-токен, тем самым закрепив права на оригинал цифрового прозиведения, а также создадим 3d-визуализацию. Важно, чтобы вы являлись автором!</p>
                        <div class="row">
                            <a href="#" class="personal-card-link link-to">Перейти</a>
                            <span class="personal-card-price price">от 10000₽</span>
                        </div>
                    </div>
                </div>
                <div class="personal-card col">
                    <img src="../img/personal/third-stage.png" alt="" class="personal-card-img">
                    <div class="personal-card-text">
                        <h3>У меня есть 3d-модель и nft-токен</h3>
                        <p>Вам нужна 3d-визуализиция вашего произведения в дополненной реальности? Хотите устроить у себе дома полноцценную высокотехнологичную художественную выставку? Просто свяжитесь с нами!</p>
                        <div class="row">
                            <a href="#" class="personal-card-link link-to">Перейти</a>
                            <span class="personal-card-price price">от 3000₽</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer row">
            <div class="footer-container row">
                <div class="col">
                    <span>performed by AR-OPTIMA</span>
                    <span>from Russia with love</span>
                </div>
                <div class="col contacts">
                    <span>8-800-555-35-35</span>
                    <span>ar.optima@mail.ru</span>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
