<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Все товары</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{>modalMenu}}
    <div class="wrapper wrapper-main">
        {{headerLight}}
        <main class="main">
            <div class="all-products col">
                <h3>Произведения известных авторов:</h3>
                <div class="top-products row">
                    {{}}
                </div>
                <h3>Наши рисульки</h3>
                <div class="rest-products row">
                    {{}}
                </div>
            </div>
        </main>
    </div>
</body>
</html>