<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Услуга</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>modalMenu}}
    <div class="wrapper wrapper-main">
        {{>headerLight}}
        <main class="main">
            {{#with service}}
            <div class="current-service-container col">
                <h2>{{header}}</h2>
                <img src="/img/uploads/{{image}}" alt="">
                <p>{{description}}</p>
                <span>{{price}}</span>
            </div>
            {{/with}}
        </main>
        {{>footer}}
    </div>
</body>
</html>